
.fitout-predictor-component {
    font-size: 0.9rem;
}

.theme--light .v-btn:not(.v-btn--icon):not(.v-btn--flat).spacelab-btn {
    border-radius: 0;
    text-transform: none;
    background-color: #ffcb05;
    font-size: 1.1em;
}

.v-input.v-text-field, .v-input.v-input--checkbox, label.v-label  {
    font-size: 1em;
}

.large-title {
    font-size: 2.5em;
    margin-top: 25px;
}

.cost-total {
    font-size: 3.5em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid rgba(0, 0, 1, 0.25);
}

.cost-item {
    font-size: 2em;
    margin-bottom: 0.4em;
}

.application-background {
    background: white !important;
}

.v-alert.spacelab-alert {
    z-index: 1000;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.form {
    margin-bottom: 1.8em;
}

.logo {
    width: 11em;
}

@media (min-width: 350px ) and (max-width: 600px){
    .fitout-predictor-component {
        font-size: 1.1rem;
    }
}

@media (min-width: 600px) and (max-width: 960px){
    .fitout-predictor-component {
        font-size: 1.1rem;
    }

    .fitout-predictor-component .large-title {
        font-size: 3.5em;
    }
}

@media (min-width: 960px) {
    .fitout-predictor-component {
        font-size: 1.1rem;
    }

    .fitout-predictor-component .large-title {
        font-size: 3.5em;
    }

    .logo {
        width: 12em;
    }
}
