@font-face {
    font-family: 'radikal_regular';
    src: url('../fonts/Nootype\ -\ Radikal-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikal_thin';
    src: url('../fonts/Nootype\ -\ Radikal-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

.secondary.v-btn {
    border-radius: 0;
    text-transform: none;
    background-color: #ffcb05 !important;
}

.large-title, .secondary.v-btn, .small-title, .v-label {
    font-family: radikal_regular !important;
}

.large-title, .secondary.v-btn, .small-title {
    color: black;
}

.large-title {
    margin-top: 25px;
    font-size: 4.5rem;
}

.small-title {
    margin-top: 5px;
    font-size: 1.25rem;
}

.v-alert {
    z-index: 1000;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}